@charset "UTF-8";
body {
  font-family: "Roboto", sans-serif;
  color: #302432;
  margin: 0;
  padding: 0;
}

#box-header {
  background-image: url(images/background.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
}
#box-header #box-header-top {
  display: flex;
  justify-content: space-between;
}
#box-header #box-header-top #logo-header {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background-color: black;
  display: flex;
  justify-content: flex-start;
  margin: 2%;
}
#box-header #box-header-top #panier-header {
  height: 2.5em;
  width: 2.5em;
  border-radius: 50%;
  fill: rgb(72, 135, 177);
  display: flex;
  justify-content: flex-end;
  margin: 2%;
}
#box-header #h1-header {
  text-align: center;
  font-size: 250%;
  font-family: "Nerko One", cursive;
  padding: 10vh 0vw 0vh;
}

#p-description {
  text-align: center;
  margin: 7%;
  font-size: 100%;
  line-height: 150%;
  letter-spacing: 50%;
}
#p-description .p1-gras {
  font-family: "Nerko One", cursive;
  font-size: 150%;
}
#p-description .p1-c {
  font-family: "Nerko One", cursive;
  font-size: 150%;
  color: #fb7539;
}
#p-description .p1-o {
  font-family: "Nerko One", cursive;
  font-size: 150%;
  color: #c8e17c;
}
#p-description .p1-l {
  font-family: "Nerko One", cursive;
  font-size: 150%;
  color: #f68091;
}
#p-description .p1-o2 {
  font-family: "Nerko One", cursive;
  font-size: 150%;
  color: #c8e17c;
}
#p-description .p1-r {
  font-family: "Nerko One", cursive;
  font-size: 150%;
  color: #fb7539;
}
#p-description .p1-é {
  font-family: "Nerko One", cursive;
  font-size: 150%;
  color: #c8e17c;
}
#p-description .p3-simple {
  font-family: "Nerko One", cursive;
  font-size: 200%;
}
#p-description .p3-gras {
  font-family: "Nerko One", cursive;
  font-size: 200%;
  color: #f68091;
}
#p-description .p3-excl {
  font-family: "Nerko One", cursive;
  font-size: 200%;
}

#carte-végé {
  width: 100%;
  height: 51%;
  display: grid;
  margin-bottom: 2em;
}

#v-titre {
  position: absolute;
  width: 50%;
  height: 25.5%;
  z-index: 1;
  grid-area: 1/1/2/2;
  background-color: #c8e17c;
  background-image: url(images/backgroundblanc.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.végé-txt {
  position: absolute;
  z-index: 2;
  color: white;
  font-family: "Nerko One", cursive;
  font-size: 350%;
  text-transform: uppercase;
  margin-left: 1.2em;
  margin-top: 0.8em;
}

#v-plat-1 {
  grid-area: 1/2/2/3;
  background-image: url(images/VEGGIE01.png);
  background-size: cover;
  background-repeat: no-repeat;
}

#v-plat-2 {
  grid-area: 2/1/3/2;
  background-image: url(images/VEGGIE02.png);
  background-size: cover;
  background-repeat: no-repeat;
}

#v-plat-3 {
  grid-area: 2/2/3/3;
  background-image: url(images/VEGGIE03.png);
  background-size: cover;
  background-repeat: no-repeat;
}

#carte-sucré {
  width: 100%;
  height: 51%;
  display: grid;
  margin-bottom: 2em;
}

#s-titre {
  position: absolute;
  width: 50%;
  height: 25.5%;
  z-index: 1;
  grid-area: 1/1/2/2;
  background-color: #f68091;
  background-image: url(images/backgroundblanc.png);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-family: "Nerko One", cursive;
}

.sucré-txt {
  position: absolute;
  z-index: 2;
  color: white;
  font-family: "Nerko One", cursive;
  font-size: 350%;
  text-transform: uppercase;
  margin-left: 20%;
  margin-top: 0.8em;
}

#s-plat-1 {
  grid-area: 1/2/2/3;
  background-image: url(images/SUGAR01.png);
  background-size: cover;
  background-repeat: no-repeat;
}

#s-plat-2 {
  grid-area: 2/1/3/2;
  background-image: url(images/SUGAR02.png);
  background-size: cover;
  background-repeat: no-repeat;
}

#s-plat-3 {
  grid-area: 2/2/3/3;
  background-image: url(images/SUGAR03.png);
  background-size: cover;
  background-repeat: no-repeat;
}

#carte-bouffé {
  width: 100%;
  height: 51%;
  display: grid;
}

#b-titre {
  position: absolute;
  width: 50%;
  height: 25.5%;
  z-index: 1;
  grid-area: 1/1/2/2;
  background-color: #fb7539;
  background-image: url(images/backgroundblanc.png);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-family: "Nerko One", cursive;
}

.bouffé-txt {
  position: absolute;
  z-index: 2;
  color: white;
  font-family: "Nerko One", cursive;
  font-size: 350%;
  text-transform: uppercase;
  margin-left: 16%;
  margin-top: 0.8em;
}

#b-plat-1 {
  grid-area: 1/2/2/3;
  background-image: url(images/JUNK01.png);
  background-size: cover;
  background-repeat: no-repeat;
}

#b-plat-2 {
  grid-area: 2/1/3/2;
  background-image: url(images/JUNK02.png);
  background-size: cover;
  background-repeat: no-repeat;
}

#b-plat-3 {
  grid-area: 2/2/3/3;
  background-image: url(images/JUNK03.png);
  background-size: cover;
  background-repeat: no-repeat;
}

footer {
  width: auto;
  height: 15em;
  background-size: cover;
  background-color: rgb(72, 135, 177);
}

#p-footer {
  text-align: center;
  padding-top: 3em;
  padding-bottom: 1.5em;
}

#icons {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 0em 0.5em 2em 0.5em;
  fill: #302432;
}

#insta {
  padding-left: 2em;
}

#twitter {
  padding-left: 2em;
}

@media screen and (min-width: 1023px) {
  #cartes {
    height: 30em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  #carte-végé {
    height: 30em;
    grid-area: 2/1/3/2;
    background-size: cover;
  }
  #carte-sucré {
    height: 30em;
    background-size: cover;
    grid-area: 2/2/3/3;
  }
  #carte-bouffé {
    height: 30em;
    background-size: cover;
    grid-area: 2/3/3/4;
  }
  #s-titre {
    position: absolute;
    width: 16.8%;
    height: 15em;
  }
  #v-titre {
    position: absolute;
    width: 16.8%;
    height: 15em;
  }
  #b-titre {
    position: absolute;
    width: 16.8%;
    height: 15em;
  }
  .sucré-txt {
    margin-top: 35%;
  }
  .végé-txt {
    margin-top: 35%;
  }
  .-txt {
    margin-top: 35%;
  }
  #facebook:hover {
    fill: rgb(255, 255, 255);
    cursor: pointer;
  }
  #insta:hover {
    fill: rgb(255, 255, 255);
    cursor: pointer;
  }
  #twitter:hover {
    fill: rgb(255, 255, 255);
    cursor: pointer;
  }
  footer {
    height: 20em;
  }
  #insta {
    padding-left: 5em;
  }
  #twitter {
    padding-left: 5em;
  }
  #p-footer {
    font-size: 1.5em;
  }
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: #302432;
    color: white;
  }
  #box-header {
    background-image: url(images/backgrounddarkmode.png);
  }
  #p-description {
    color: white;
  }
}/*# sourceMappingURL=style.css.map */